############################
# Miscellaneous
############################
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

############################
# IntelliJ / Android Studio
############################
*.iml
*.ipr
*.iws
.idea/

############################
# VS Code
############################
.vscode/

############################
# Flutter / Dart
############################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

############################
# Gradle (CRITIQUE)
############################
.gradle/
gradle/
**/build/

# ❗ NE PAS ignorer ceci :
!gradle/wrapper/gradle-wrapper.properties

############################
# Android
############################
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/build/
android/gradle/

############################
# Platform folders (Flutter)
############################
ios/
linux/
macos/
web/
windows/

############################
# Tools
############################
bundletool.jar
build/
gradle/
